{% extends "base.html" %}

{% block content %}
    <h1 align="center">List of departments</h1>
    {% if current_user.is_authenticated %}
        <a href="/" class="btn btn-secondary buttons_left">Back to Jobs</a>
        <a href="departments" class="btn btn-secondary">Add a department</a>
    {% else %}
        <a href="/" class="btn btn-secondary buttons_left">Back to Jobs</a>
    {% endif %}
    {% for item in departments %}
        <h2>Department # {{ loop.index }}</h2>
        <table>
        <tr>
            <th width="400" bgcolor="#DCDCDC">Title of activity</th>
            <th width="200" bgcolor="#DCDCDC">Chief</th>
            <th width="200" bgcolor="#DCDCDC">Members</th>
            <th width="300" bgcolor="#DCDCDC">Department email</th>
        </tr>
        <tr>
            <td height="50" bgcolor="#E6E6FA">{{ item.title }}</td>
            <td height="50" bgcolor="#E6E6FA">{{ departments_leaders[loop.index0] }}</td>
            <td height="50" bgcolor="#E6E6FA">{{ item.members }}</td>
            <td height="50" bgcolor="#E6E6FA">{{ item.email }}</td>
        </tr>
    </table>
    {% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
    <div>
        <a href="/departments/{{ item.id }}" class="btn btn-warning buttons_left">
            Edit department
        </a>
        <a href="/departments_delete/{{ item.id }}" class="btn btn-danger">
            Delete department
        </a>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}